/*
 * Les Mixins
*/

// Style pour les boutons
@mixin boutons {
  border-radius: 50px;
  color: white;
  background-color: $secondcolor;
  i {
    display: none;
  }
}

// Style pour les boutons en roll-over
@mixin boutons_hover {
  background-color: $roll-over;
  i {
    display: contents;
  }
}

// Style pour les cartes de formulaires (ombre)
@mixin card_shadow {
  box-shadow: 1px 1px 1px 1px #aaa;
}
