<template>
  <b-container>
    <h1 class="titre">Ma formation</h1>
    <div class="blank"></div>
    <div class="wrapper">
      <div class="img"></div>
    </div>
    <div class="blank"></div>
  </b-container>
</template>

<script>
import {gsap} from 'gsap';
import {CSSPlugin} from 'gsap/CSSPlugin'

gsap.registerPlugin(CSSPlugin);

export default {
  name: 'TarocchiCards',
  data() {
    return {};
  },
  mounted() {
    this.animation();
  },

  methods: {
    animation() {
      let scene = this.$scrollmagic.scene({
        triggerElement: ('.wrapper'),
        triggerHook: 0,
        duration: '300%'
      })
          .setPin('.wrapper')

      this.$scrollmagic.addScene(scene)
    }
  },
}
</script>

<style scoped lang="scss">

.blank {
  height: 100vh;
  width: 100vh;
}

.wrapper {
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.img {
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  width: 60%;
  height: 60%;
  background-position: center;
}
</style>
