<template>
    <div class="footer">
        <span>Copyright © 2020 Epic Road Trip</span>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped lang="scss">
    @import "node_modules/bootstrap/scss/bootstrap";
    @import "src/sass/mixins";
    @import "src/sass/variables";

.footer {
    text-align: center;
    background-color: $firstcolor;
    color: white;
    font-size: 20px;
    padding: 1rem;
}
</style>
