<template>
    <b-navbar class="header" toggleable="lg">
        <div class="container">
            <router-link :to="{name: 'home'}">
                <span class="navbar-brand titre">Epic Road Trip</span>
            </router-link>

            <b-navbar-toggle class="btn_menu" target="nav-collapse">
                <span class="icon_menu"><i class="fas fa-bars fa-2x"></i></span>
            </b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="liste_btn ml-auto">
                    <router-link :to="{name:'preferences'}">
                        <button class="btn_header btn form-inline my-2 my-lg-0">Preferences <i
                                class="fas fa-arrow-right"></i>
                        </button>
                    </router-link>
                </b-navbar-nav>
            </b-collapse>
        </div>
    </b-navbar>
</template>

<script>
    export default {
        name: 'bandeau',
        data() {
            return {
                catalogue: null
            }
        }
    }
</script>

<style lang="scss">
    @import "../../node_modules/bootstrap/scss/bootstrap";
    @import "../sass/variables";

    .header {
        background-color: $firstcolor;

        .titre {
            color: white !important;
            font-size: 31px;
        }

        .liste_btn {
            display: block;
            @include media-breakpoint-down(md) {
                display: flex;
            }

            .btn_header {
                color: $firstcolor;
                text-transform: uppercase;
                background-color: white;
                border-radius: 50px;
            }

            .btn_header:hover {
                color: white;
                background-color: $firstcolor;
                border: 1px solid white;
            }
        }

        .btn_menu {
            border-color: transparent !important;
            color: white !important;
            @include media-breakpoint-up(lg) {
                display: none;
            }

            .icon_menu {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }
</style>
